<div class="gf-form-group">
  <div class="gf-form gf-form--grow">
    <input
     class="gf-form-input"
     placeholder="query expression"
     ng-model="ctrl.annotation.annotationQuery"
     ></input>
  </div>
  <label>
    Humio repository
  </label>

  <div class="gf-form gf-form--grow">
    <select class="gf-form-input.gf-size-auto"
              ng-model="ctrl.annotation.humioRepository",
              ng-options="v.value as v.label for v in ctrl.repositories">
              <option value="" disabled selected>Choose</option>
    </select>
  </div>
  <label>
    Event Field to Use For Annotation Text
  </label>
  <div class="gf-form gf-form--grow">
    <input
     class="gf-form-input"
     placeholder="annotation text"
     ng-model="ctrl.annotation.annotationText"
     ></input>
  </div>
</div>