datasource-http-settings(current="ctrl.current", suggest-url="http://localhost:3000")

h5 Humio access token
.gf-form
  input.gf-form-input(type="text", ng-model='ctrl.current.jsonData.humioToken', placeholder="")
