
.gf-form-group
  .gf-form-inline
    .gf-form-switch-container-react
      label.gf-form.gf-form-switch-container(for="test") 
        .gf-form-label.pointer Authentication Strategy
        .gf-form-switch
          input#test(type="checkbox" ng-model="ctrl.current.jsonData.tokenAuth" onclick='clickme()')
          span.gf-form-switch__slider


div#encrypted Encrypted Tokens 
  h5 Humio Url
  .gf-form
    input.gf-form-input(type="text", ng-model='ctrl.current.jsonData.baseUrl', placeholder="https://cloud.humio.com")

  h5 Humio Access Token
  .gf-form
    input.gf-form-input(type="text",  ng-model='ctrl.current.secureJsonData.humioToken')

  p Once the datasource is saved the contents of the 'Humio Access Token' field will be hidden. The datasource will continue to use the submitted token until it is changed. 

div#regular Regular
  datasource-http-settings(current="ctrl.current", suggest-url="https://cloud.humio.com")

  h5 Humio access token
  .gf-form
    input.gf-form-input(type="text", ng-model='ctrl.current.jsonData.humioToken', placeholder="")


script.
  var x = document.getElementById("encrypted");
  var y = document.getElementById("regular");
  var test = document.getElementById("test");
  console.log(test);

  if(test.checked){
    x.style.display = "block";
    y.style.display = "none";
  }
  else{
    x.style.display = "none";
    y.style.display = "block";
    }

  function clickme() {
  var x = document.getElementById("encrypted");
  var y = document.getElementById("regular");
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
  } 